# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "synapse-chat.insomniafest.ru"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: synapse
    password: synapsepass
    database: synapse
    host: postgres
    cp_min: 5
    cp_max: 10
  allow_unsafe_locale: true
enable_registration: true
enable_registration_without_verification: true
log_config: "/data/matrix.chat.log.config"
media_store_path: /data/media_store
registration_shared_secret: "Vaqn#CV2:wmm_CYyCTLqBv+,k-8wN44:lFwAgzWps9+_EI:tsX"
report_stats: false
macaroon_secret_key: "ObelvrDCnO6KmE1ZkEBG+N0yGNmtV1b#fPnA&*xv^34Vybltzu"
form_secret: "7rMnv3vZBqa6Ok9RJw7:aK,A0YjN7HZO5rCHCHKj-_bc*IpaCh"
signing_key_path: "/data/matrix.chat.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"


# vim:ft=yaml
